td {
  img {
    /*
      TODO: this is empirical, find better way
      with "height: 100%" or "height: auto", an empty square has not the same height than a square with a piece on it
    */
    height: 43px;
  }

  &.selected {
    background-color: olivedrab !important;
  }

  &.highlighted {
    background-color: darkseagreen !important;
  }

  &.highlighted-last-move {
    background-color: darksalmon !important;
  }
}
